* {  /* universal selector */
    padding: 0;  /* reset default values in different browsers */
    margin: 0;
}


html, body {
    font-family: Verdana, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.row > * { /* select all direct children */
    display: table-cell;
}

#logo {
    max-height: 10em;
}

#title {
    font-weight: bold;
}

#breadcrumb {
    background-color: red;
    color: white;
}

#menu ul {
    list-style: none;
}

#footer {
    padding-top: 5em;
}

#footer p {
    text-align: center;
    width: 75%;
}

#footer > * {
    vertical-align: middle;
}

#protagonisti dt {
    font-weight: bold;
}

#protagonisti dd {
    margin-left: 1em;
}